* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-pol-rus.pol-rus.dix -text
/apertium-pol-rus.pol-rus.lrx -text
/apertium-pol-rus.pol-rus.t1x -text
/apertium-pol-rus.pol-rus.t2x -text
/apertium-pol-rus.pol-rus.t3x -text
/apertium-pol-rus.rus-pol.lrx -text
/apertium-pol-rus.rus-pol.t1x -text
/apertium-pol-rus.rus-pol.t2x -text
/apertium-pol-rus.rus-pol.t3x -text
/autogen.sh -text
/configure.ac -text
dev/clean_from_eng.py -text
dev/clean_pol_rus.py -text
dev/cleaner.py -text
dev/cnjadv.txt -text
dev/cnjadv.xml -text
dev/cnjsub.txt -text
dev/cnjsub.xml -text
dev/comment_this.py -text
dev/extract_ruscorp.py -text
dev/finding_repetitions.py -text
dev/from_morpheus.py -text
dev/from_z.py -text
dev/get_adv_adj_conj.py -text
dev/get_adverbs.py -text
dev/get_nouns_for_translation.py -text
dev/get_prepositions.py -text
dev/jsonify_verbs_from_z.py -text
dev/kill_repetitions.py -text
dev/merge_verbs.py -text
dev/not_in_bidix.py -text
dev/nouns.txt -text
dev/nouns_add_to_dictionary9.xml -text
dev/numerals.txt -text
dev/numerals.xml -text
dev/prepositions.txt -text
dev/russian_nouns.txt -text
dev/russian_verbs.dix.xml -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
dev/translator.py -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/rasskaz.pol.txt -text
texts/rasskaz.rus.txt -text svneol=unset#application/octet-stream
